</html>
<head>
<meta name="google-site-verification" content="uo0RiqTCfLBmXHDX9zrrAKjonlFPEQGsLMuON0041dk" />
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Catholic Prayer 天主教祈祷经文</title>
<link rel="shortcut icon" href="rcprayer.ico">
<style>
<!--
table.MsoTableGrid
	{border:1.0pt solid windowtext;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
 p.MsoNormal
	{mso-style-parent:"";
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:新細明體;
	margin-left:0in; margin-right:0in; margin-top:0in}
p
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:新細明體;
	}
div.Section1
	{page:Section1;}
-->
</style>
<head>
<body bgcolor="#FFFFFF" topmargin="0" marginheight="0">
		<div align="center">
	<table border="1" width="100%" id="table4" style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" bgcolor="#FFFFE6" height="84%">
		<tr>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" height="78%" width="20%">
			<p align="center">
			<a href="image/iconangelr.gif">
			<img id="_x0000_i1027" height="142" src="image/iconangelr.gif" width="104" border="0"></a></td>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" height="78%" width="60%">
			<p align="center"><b><font size="6" color="#0000FF" face="Arial">
			CATHOLIC PRAYERS</font></b></p>
			<p align="center"><b><span lang="ZH-TW" style="color: blue">
			<font size="6" face="SimSun">天主教祈祷经文</font></span></b></p>
			<p align="center">
			<a href="indexeng.htm">
			<img border="0" src="image/iconeng.jpg" width="150" height="40"></a></p>
			<p align="center">
			<font face="Arial Black"><b><a href="indexsim.htm"><img border="0" src="image/icontsim.jpg" width="150" height="40"></a></b></font></p>
			<p align="center">
			<a href="indextra.htm"><img border="0" src="image/icontra.jpg" width="150" height="40"></a></p>
			</td>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" height="78%" width="20%">
			<p align="center">
			<a href="image/iconangell.GIF">
			<img id="_x0000_i1028" height="142" src="image/iconangell.GIF" width="104" border="0"></a></td>
		</tr>
		</table>
		</div>
	
</body>

</html>
