
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>Catholic Prayers</title>
<style>
<!--
table.MsoTableGrid
	{border:1.0pt solid windowtext;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
 p.MsoNormal
	{mso-style-parent:"";
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:新細明體;
	margin-left:0in; margin-right:0in; margin-top:0in}
p
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:新細明體;
	}
div.Section1
	{page:Section1;}
-->
</style>
</head>

<body bgcolor="#FFFFFF">

<table border="1" width="100%" id="table7">
	<tr>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" width="15%" height="100%">
			<p align="center">
			<img id="_x0000_i1025" height="140" src="image/iconangelr.gif" width="100" border="0" align="middle"></td>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" width="70%" height="100%">
			<p align="center"><b>
			<font size="6" color="#0000FF" face="Arial Narrow">
			CATHOLIC PRAYERS</font></b></p>
			<p align="center">
			<a href="index.htm">
			<img border="0" src="image/iconbackeng.jpg" width="84" height="24"></a></td>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" width="15%" height="100">
			<img id="_x0000_i1027" height="140" src="image/iconangell.GIF" width="100" border="0" align="middle"></td>
		</tr>
	</table>
	<table border="1" width="100%" id="table8">
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			<font face="Arial Narrow">
			<span style="text-decoration: none; ">
			<a href="bible/indexeng.htm"><font color="#000000">
			<span style="text-decoration: none; ">Holy Bible</span></font></a></span></font></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			
								<font face="Arial Narrow">
														<p align="center">
														<font size="3" color="#FF0000" face="Arial Narrow">
														<span style="text-decoration: none">
														<a href="http://www.usccb.org/bible/readings/">
														<span style="text-decoration: none">
														<font color="#000000">Daily Scripture Reading</font></span></a></span></font></font></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">

			<span style="text-decoration: none">
			<a href="rosary/rosaryeng.htm">
			<font face="Arial Narrow" color="#000000">
			<span style="text-decoration: none">Rosary</span></font></a></span></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			<p class="MsoNormal"><font face="Arial Narrow" size="3">&nbsp; 
			<a href="CCC/ccceng/ccc_toc.htm"><font color="#000000">
			<span style="text-decoration: none">Catechism</span></font></a></font></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			<a href="mainprayer/prayereng.htm">
			<font color="#000000" face="Arial Narrow">
			<span style="text-decoration: none">
			<a href="mainprayer/prayereng.htm">
			<span style="text-decoration: none"><font color="#000000">Prayers</font></span></a></span></font></a></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			<p class="MsoNormal">
			<font face="Arial Narrow"><a href="divinemercy/Divineeng.htm">
			<font color="#000000"><span style="text-decoration: none">Divine 
			Mercy</span></font></a></font></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			<p class="MsoNormal">
			<font color="#000000" size="3" face="Arial Narrow">
			<a href="catechism/cateng.htm">
			<span style="text-decoration: none"><font color="#000000">Catechism: compendium</font></span></a></font></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			<p class="MsoNormal">
			<font color="blue" face="Arial Narrow" size="3">
			<a href="saintprayer/sainteng.htm"><font color="#000000">
			<span style="text-decoration: none">Patron Saints</span></font></a></font></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			<p class="MsoNormal"><font face="Arial Narrow">
			<a href="station/stationeng.htm"><font color="#000000" size="3">
			<span style="text-decoration: none">Station of the Cross</span></font></a></font></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			<p class="MsoNormal"><font face="Arial Narrow" color="#000000">
			<a href="massorder/masseng.htm"><span style="text-decoration: none">
			<font color="#000000" size="3">Order of the Mass</font></span></a></font></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
			
<font face="Arial Narrow"><a href="family/familyeng.htm"><font color="#000000">
<span style="text-decoration: none">Days of the week 
</span></font></a></font></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD" height="20%">
											<p style="MARGIN: 1px" align="center">
											<font face="Arial Narrow" size="3">
											<a href="indexeng.htm#litanies">
											<span style="text-decoration: none">
											<a href="devotion/devoteng.htm">
											<span style="text-decoration: none">
											<font color="#000000">Litanies</font></span></a></span></a></font></p>
											</td>
		</tr>
	</table>

</body>

</html>
