
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>天主教祈&#31095;&#32463;文</title>
<style>
<!--
table.MsoTableGrid
	{border:1.0pt solid windowtext;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
 p.MsoNormal
	{mso-style-parent:"";
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:新細明體;
	margin-left:0in; margin-right:0in; margin-top:0in}
p
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:新細明體;
	}
div.Section1
	{page:Section1;}
-->
</style>
</head>

<body bgcolor="#FFFFFF">

<table border="1" width="100%" id="table7">
	<tr>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" width="15%" height="100%">
			<p align="center">
			<img id="_x0000_i1025" height="140" src="image/iconangelr.gif" width="100" border="0" align="middle"></td>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" width="70%" height="100%">
			<p align="center"><b><span lang="ZH-TW" style="color: blue">
			<font size="7">天主教祈&#31095;&#32463;文</font></span></b></p>
			<p align="center">
			<a href="index.htm">
			<img border="0" src="image/iconback.gif" width="109" height="28"></a></td>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" width="15%" height="100">
			<img id="_x0000_i1027" height="140" src="image/iconangell.GIF" width="100" border="0" align="middle"></td>
		</tr>
	</table>
	<table class="MsoNormalTable" style="width: 100%; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px" cellPadding="0" width="100%" border="1" id="table9" bordercolor="#C0C0C0">
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p class="MsoNormal" style="margin: 0">
			<span lang="ZH-TW" style="text-decoration: none; ">
			<font size="6"><a href="bible/indexsim.htm"><font color="#000000">
			圣&#32463;</font></a></font></span></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p>
			<font face="serif">
			<span lang="zh-cn">
			<font color="#000000" size="6">
			<a href="http://catholic-dlc.org.hk/frame3.htm">
			<font color="#000000"><span style="text-decoration: none">每日</span></font></a></font></span><a href="http://catholic-dlc.org.hk/frame3.htm"><font color="#000000" size="6"><span style="text-decoration: none">圣</span><span style="text-decoration: none" lang="zh-cn">言</span></font></a><u></a></a></u></font></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p class="MsoNormal" style="margin: 0">
			<span lang="ZH-TW" style="text-decoration: none; ">
			<font size="6"><a href="rosary/rosarysim.htm"><font color="#000000">
			玫瑰&#32463;</font></a></font></span></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p class="MsoNormal" style="margin: 0"><font size="6">
			<span style="text-decoration: none">
			<a href="CCC/cccsim/cccsim.htm">
			<font color="#000000">天主教教理</font></a></span></font></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p>
			<span lang="ZH-TW">
			<font size="6">
			<a href="prayeram/amsim.htm">
			<font color="#000000"><span style="text-decoration: none">早&#35838;&#32463;文</span></font></a></font></span></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p class="MsoNormal" style="margin: 0">
			<span lang="ZH-TW" style="text-decoration: none; ">
			<font size="6"><a href="divinemercy/Divinesim.htm">
			<font color="#000000">慈悲&#32463;</font></a></font></span></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p>
			<a href="catechism/catsim.htm">
			<span lang="ZH-TW">
			<font color="#000000" size="6"><span style="text-decoration: none">要理</span></font></span><span lang="zh-cn"><font color="#000000" size="6"><span style="text-decoration: none">&#38382;答</span></font></span></a></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p class="MsoNormal" style="margin: 0"><a href="prayerpm/pmsim.htm"><span lang="ZH-TW">
			<font color="#000000" size="6"><span style="text-decoration: none">晚&#35838;</span></font></span><font size="6"><span lang="ZH-TW"><font color="#000000"><span style="text-decoration: none">&#32463;文</span></font></span></font></a></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p class="MsoNormal" style="margin: 0"><span lang="ZH-TW">
			<font size="6">
			<a href="station/stationsim.htm">
			<font color="#000000">苦路&#32463;</font></a></font></span></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p class="MsoNormal" style="margin: 0"><a href="massorder/masssim.htm">
			<font size="6"><span lang="ZH-TW"><font color="#000000">&#24357;撒&#32463;</font></span></font><span lang="ZH-TW"><font color="#000000" size="6">文</font></span></a></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p>
			<a href="saintprayer/saintsim.htm">
			<font color="#000000" size="6"><span style="text-decoration: none">圣人&#31095;</span></font><font size="6"><span lang="ZH-TW"><font color="#000000"><span style="text-decoration: none">文</span></font></span></font></a></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">

<p align="center" style="margin: 0">
<span style="COLOR: black; font-style:normal; font-variant:normal; ">
<font size="6"><a href="monthly/monthsim.htm">
<font color="#000000">圣月&#32463;</font></a></font></span></p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p style="margin-top: 0; margin-bottom: 0">
			<a href="mainprayer/prayersim.htm">
			<font size="6" color="#000000">祈&#31095;<span lang="ZH-TW">&#32463;文</span></font></a></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p style="margin-top: 0; margin-bottom: 0">
			<font size="6"><a href="devotion/devotsim.htm">
			<font color="#000000" face="新細明體">敬&#31036;&#31095;文</font></a></font></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">

<p style="margin-top: 0; margin-bottom: 0">

<font size="6"><a href="family/familysim.htm">
<font color="#000000" face="新細明體">家庭祈&#31095;</font></a></font></td>
		</tr>
	</table>

</body>

</html>
