
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>天主教祈禱經文</title>
<style>
<!--
table.MsoTableGrid
	{border:1.0pt solid windowtext;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
 p.MsoNormal
	{mso-style-parent:"";
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:新細明體;
	margin-left:0in; margin-right:0in; margin-top:0in}
p
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:新細明體;
	}
div.Section1
	{page:Section1;}
-->
</style>
</head>

<body bgcolor="#FFFFFF">

<table border="1" width="100%" id="table7">
	<tr>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" width="15%" height="100%">
			<p align="center">
			<img id="_x0000_i1025" height="140" src="image/iconangelr.gif" width="100" border="0" align="middle"></td>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" width="70%" height="100%">
			<p align="center"><b><font size="7" color="#0000FF">天主教祈禱經文</font></b></p>
			<p align="center">
			<a href="index.htm">
			<img border="0" src="image/iconback.gif" width="109" height="28"></a></td>
			<td bordercolor="#C0C0C0" style="padding-left: 4px; padding-right: 4px" align="center" width="15%" height="100">
			<img id="_x0000_i1027" height="140" src="image/iconangell.GIF" width="100" border="0" align="middle"></td>
		</tr>
	</table>
	<table class="MsoNormalTable" style="width: 100%; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px" cellPadding="0" width="100%" border="1" id="table10" bordercolor="#C0C0C0">
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#D9FFD9">
			<p class="MsoNormal">
			<font color="#000000" size="6"><a href="bible/indextra.htm">
			<font color="#000000">聖經</font></a></font></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p><a href="http://catholic-dlc.org.hk/frame3.htm">
			<span lang="zh-cn"><font color="#000000" size="6">
			每日</font></span><font color="#000000" size="6">聖言</font></a></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p>
			<a href="rosary/rosarytra.htm">
			<span lang="ZH-TW">
			<font color="#000000" size="6">玫瑰</font></span><font color="#000000" size="6">經</font></a></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#D9FFD9">
			<p class="MsoNormal"><font size="6">
			<span style="text-decoration: none"><font color="#000000">
			<a href="CCC/ccctra/ccctra.htm">
			<font color="#000000">天主教教理</font></a></font></span></font></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p>
			<a href="prayeram/amtra.htm">
			<span lang="ZH-TW">
			<font color="#000000" size="6">早</font></span><font size="6" color="#000000">課經</font><span lang="ZH-TW"><font color="#000000" size="6">文</font></span></a></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p>
			<a href="divinemercy/Divinetra.htm">
			<span lang="ZH-TW">
			<font color="#000000" size="6">慈悲</font></span><font color="#000000" size="6">經</font></a></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#D9FFD9">
			<font size="6">
			<a href="catechism/cattra.htm"><font color="#000000" face="新細明體">
			要理問答</font></a></font></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p><a href="prayerpm/pmtra.htm">
			<span lang="ZH-TW"><font color="#000000" size="6">晚</font></span><font size="6"><font color="#000000">課經</font><span lang="ZH-TW"><font color="#000000">文</font></span></font></a></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p class="MsoNormal"><a href="station/stationtra.htm"><span lang="ZH-TW">
			<font size="6" color="#000000">苦路</font></span><font color="#000000" size="6">經</font></a></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<p class="MsoNormal"><a href="massorder/masstra.htm">
			<font size="6" color="#000000">彌撒經<span lang="ZH-TW">文</span></font></a></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<a href="saintprayer/sainttra.htm">
			<font color="#000000" size="6">聖人禱</font><font size="6"><span lang="ZH-TW"><font color="#000000">文</font></span></font></a></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<font color="#ff0000" size="6"><a href="monthly/monthtra.htm">
			<font color="#000000" face="新細明體">
			聖月經</font></a></font></td>
		</tr>
		<tr>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<a href="mainprayer/prayertra.htm">
			<font size="6" color="#000000">祈禱經</font><span lang="ZH-TW"><font size="6" color="#000000">文</font></span></a></td>
			<td style="padding: 0.75pt" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<font size="6">
			<span style="text-decoration: none"><a href="devotion/devottra.htm">
			<font color="#000000" face="新細明體">
			敬禮禱文</font></a></span></font></td>
			<td style="padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in" width="33%" bordercolor="#C0C0C0" align="center" bgcolor="#DDFFDD">
			<font size="6"><a href="family/familytra.htm">
			<font color="#000000" face="新細明體">
			家庭祈禱</font></a></font></td>
		</tr>
	</table>

	</body>

</html>
