sup {
    color: red;
}
#div1 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}

summary {
    font-size: 40px;
    font-weight: bold;
    color: #4183c4;
    cursor: pointer;
}
.html5_new {
    background: transparent url(https://w3school.com.cn/ui2017/table_bg_html5.png) top right no-repeat
}
.dbig {
    font-size: 20px;
}

div.descendantselector-red {
    width: 100px;
    height: 100px;
    background-color: red;
}
div.descendantselector-green {
    width: 100px;
    height: 100px;
    background-color: green;
}
.descendantselector-red span {
    color: white
}
.descendantselector-green span {
    color: white;
}
.childselector ul > li {
    list-style-type: decimal;
}

.brotherselector ul > li + li{
    font-weight: bold;
}

.brotherselector ul + ol > li {
    font-weight: 900;
}
body {
    counter-reset: section;
}
#counter > h5 {
    counter-reset: subsection;
}
#counter > h5::before {
    counter-increment: section;
    content: "Section " counter(section) ".";
}
#counter > h6::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ".";
}
#round {
    border-image: url(/example/css3/border.png)30 30 round !important;
    width: 300px;
    border: 15px solid transparent;
}
@font-face {
    font-family: runoobfont;
    src: url('/example/css3/Sansation_Light.ttf');
}

#diyfont > p {
    font-family: runoobfont;
}
.trans:hover {
    width: 300px;
    transform: rotate(720deg);
}
.trans {
    transition: width 3s linear 2s,transform 20s ease 3s;
    width:100px;
    height:100px;
    background-color: red;
}

@keyframes mymove {
0% { width: 200px;}
100% {width: 400px;}
}
.movemove {
    animation: mymove 2s linear 1s infinite alternate;
}

@media screen and (min-width: 1000px ) {
    .mediaTest {
        width: 200px;
        height: 200px;
        background-color: red;
    }
}

@media  screen and (max-width: 1000px) {
    .mediaTest {
        width: 200px;
        height: 200px;
        background-color: black;
    }
}

#griditem-container{
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
}

.griditem {
  font-size: 2em;
  text-align: center;
  border: 1px solid #e5e4e9;
}

.griditem-1 {
  background-color: #ef342a;
}

.griditem-2 {
  background-color: #f68f26;
}

.griditem-3 {
  background-color: #4ba946;
}

.griditem-4 {
  background-color: #0376c2;
}

.griditem-5 {
  background-color: #c077af;
}

.griditem-6 {
  background-color: #f8d29d;
}

.griditem-7 {
  background-color: #b5a87f;
}

.griditem-8 {
  background-color: #d0e4a9;
}

.griditem-9 {
  background-color: #4dc7ec;
}